<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huasheng.dingding.mapper.CustomerInfoMapper">

    <resultMap id="customInfo" type="com.huasheng.dingding.domain.entity.CustomerInfo">
        <id property="id" column="id"></id>
        <result property="customerCode" column="customer_code"></result>
        <result property="customerName" column="customer_name"></result>
        <result property="currentStatus" column="current_status"></result>
        <result property="operateUser" column="operate_user"></result>
    </resultMap>
    
    <sql id="BASE_COLUMN">
        `id`,customer_code,customer_name,current_status,operate_user
    </sql>

    <select id="selectCustomByVo" resultMap="customInfo">
        select
        <include refid="BASE_COLUMN"></include>
        from
        customer_info
        ${ew.customSqlSegment}
    </select>

<!--    <resultMap id="customerDetails" type="com.huasheng.dingding.domain.vo.CustomerDetailsVo">-->
<!--        <id property="id" column="id"></id>-->
<!--        <result property="customerCode" column="customer_code"></result>-->
<!--        <result property="customerName" column="customer_name"></result>-->
<!--        <result property="currentStatus" column="current_status"></result>-->
<!--        <result property="salePerYear" column="sale_per_year"></result>-->
<!--        <result property="customerAddress" column="customer_address"></result>-->
<!--        <result property="customerPhone" column="customer_phone"></result>-->
<!--        <result property="productionCapacity" column="production_capacity"></result>-->
<!--        <result property="deviceName" column="device_name"></result>-->
<!--        <result property="customerNeedDevice" column="customer_need_device"></result>-->
<!--        <result property="businessCompetitor" column="business_competitor"></result>-->
<!--        <result property="isMarket" column="is_market"></result>-->
<!--        <result property="operateUser" column="operate_user"></result>-->
<!--        <collection property="customerNeed" ofType="CustomerNeedType" >-->
<!--            <id property="id" column="id"></id>-->

<!--        </collection>-->

<!--    </resultMap>-->

<!--    <select id="showCustomerDetails" resultMap="">-->

<!--    </select>-->

</mapper>
